<a href="https://colab.research.google.com/github/eugenechi/mgmt467-analytics-portfolio/blob/main/Lab_VertexAI_BigQuery_PromptsOnly_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab: Vertex AI–Assisted BigQuery Analytics — Example Prompts
**Goal:** Practice moving from simple SQL to complex analytics in BigQuery using *only* carefully engineered prompts with Vertex AI (Gemini).  
**Important:** This notebook contains **prompts only** (no starter code). Paste the prompts into **Vertex AI Studio**, **Vertex AI in Colab Enterprise**, or your chosen chat interface, and then run the generated SQL directly in **BigQuery**. If you decide to automate later, you can ask Vertex AI to convert the winning SQL into a Colab pipeline.

## How to use this prompts-only notebook
1. Open **Vertex AI Studio** (or Gemini in Colab Enterprise chat panel).  
2. Copy a prompt from this notebook and paste it into the model. Do **not** paste any code from here; let the model generate it.  
3. Run the generated SQL in **BigQuery** (Console → BigQuery Studio).  
4. Iterate: refine the prompt when results aren’t what you expect.  
5. Document: capture your final SQL, plus a one-sentence takeaway, in your notes/README.

## Dataset assumptions
Use one of these sources (adjust table paths accordingly):
- **Global Superstore (Kaggle)** loaded into BigQuery (e.g., `[YOUR_PROJECT].superstore_data.sales`)  
- **TheLook eCommerce** public dataset: `bigquery-public-data.thelook_ecommerce`  
If you are using *Global Superstore*, make sure column names match your schema (e.g., `Order_Date`, `Region`, `Category`, `Sub_Category`, `Sales`, `Profit`, `Discount`, `State`, `Customer_ID`, `Ship_Mode`).

---
## Prompting guardrails (quick checklist)
- **Be explicit**: table path, column names, filters, output columns, sort order, and limits.  
- **Ask for runnable SQL**: “Return a BigQuery SQL block only.”  
- **Control cost**: ask for `LIMIT` during exploration and remove it for the final run.  
- **Validate**: request a brief explanation of why each clause is present and how you can sanity-check results.
---

## Install Dependencies

In [1]:
# Install the Google Cloud BigQuery client library
!pip install google-cloud-bigquery==3.17.0 pandas==2.1.4

# Authenticate your Colab environment
from google.colab import auth
# It looks like the previous run was interrupted. Please try running this cell again.
auth.authenticate_user()
print('Authenticated')

Requirement already satisfied: google-cloud-bigquery==3.17.0 in /usr/local/lib/python3.12/dist-packages (3.17.0)
Requirement already satisfied: pandas==2.1.4 in /usr/local/lib/python3.12/dist-packages (2.1.4)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery==3.17.0) (2.25.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery==3.17.0) (2.4.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery==3.17.0) (2.7.2)
Requirement already satisfied: packaging>=20.0.0 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery==3.17.0) (25.0)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery==3.17.0) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /usr/local/lib/python3.12/dist-packages (from google-cloud-bigquery==3.17.0) (2.32.4)
Requirement already satisfied: numpy<2,>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas==2.1.4) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas==2.1.4) (2025.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.12/dist-packages (from pandas==2.1.4) (2025.2)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /usr/local/lib/python3.12/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery==3.17.0) (1.70.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /usr/local/lib/python3.12/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery==3.17.0) (5.29.5)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /usr/local/lib/python3.12/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery==3.17.0) (1.26.1)
Requirement already satisfied: google-auth<3.0.0,>=2.14.1 in /usr/local/lib/python3.12/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery==3.17.0) (2.38.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.12/dist-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery==3.17.0) (1.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery==3.17.0) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery==3.17.0) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery==3.17.0) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery==3.17.0) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery==3.17.0) (2025.8.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from google-auth<3.0.0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery==3.17.0) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from google-auth<3.0.0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery==3.17.0) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.12/dist-packages (from google-auth<3.0.0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery==3.17.0) (4.9.1)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.12/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0,>=2.14.1->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery==3.17.0) (0.6.1)
Authenticated

## Copy Schema to a dataframe

In [9]:
from google.cloud import bigquery
import pandas as pd

# Replace with your Google Cloud Project ID
project_id = 'sapient-office-471119-g4' # This is derived from your provided table name
dataset_id = 'superstore_data'
table_id = 'table1'

# Construct a BigQuery client object.
client = bigquery.Client(project=project_id)

# Get the table object
table_ref = client.dataset(dataset_id).table(table_id)
table = client.get_table(table_ref)

# Extract schema information
schema_list = []
for field in table.schema:
    schema_list.append({
        'name': field.name,
        'field_type': field.field_type,
        'mode': field.mode,
        'description': field.description
    })

# Convert to Pandas DataFrame
schema_df = pd.DataFrame(schema_list)

# Display the schema DataFrame (optional, for verification)
print("Schema DataFrame created:")
# To see the output, run the code.
display(schema_df) # Added display here to show the dataframe

Schema DataFrame created:

             name field_type      mode description
0  string_field_0     STRING  NULLABLE        None

## CLean Column Names

In [10]:
# --- 1. Clean the Column Names ---
# Create a 'clean_name' column with standard naming conventions:
# lowercase, with spaces and hyphens replaced by underscores.
schema_df['clean_name'] = schema_df['name'].str.lower().str.replace(' ', '_').str.replace('-', '_')


# --- 2. Generate the Aliases for the SELECT Clause ---
column_expressions = []
for index, row in schema_df.iterrows():
    original_name = row['name']
    clean_name = row['clean_name']

    # If the original name contains a space or special character, it needs to be
    # enclosed in backticks (`) in the SQL statement.
    if ' ' in original_name or '-' in original_name:
        expression = f'`{original_name}` AS {clean_name}'
    else:
        # If the name is already clean, we still alias it for consistency.
        expression = f'{original_name} AS {clean_name}'
    column_expressions.append(expression)

# Join all the individual column expressions into a single, formatted string.
select_clause = ",\n  ".join(column_expressions)


# --- 3. Construct the Final CREATE VIEW Statement ---
new_view_id = 'superstore_clean' # You can change this if you like

create_view_sql = f"""
CREATE OR REPLACE VIEW `{project_id}.{dataset_id}.{new_view_id}` AS
SELECT
  {select_clause}
FROM
  `{project_id}.{dataset_id}.{table_id}`;
"""

# --- 4. Print the Final SQL ---
print("--- Copy the SQL below and run it in your BigQuery Console ---")
print(create_view_sql)

--- Copy the SQL below and run it in your BigQuery Console ---

CREATE OR REPLACE VIEW `sapient-office-471119-g4.superstore_data.superstore_clean` AS
SELECT
  string_field_0 AS string_field_0
FROM
  `sapient-office-471119-g4.superstore_data.table1`;

## Generate View with standard column naming convention

In [12]:
# Execute the CREATE VIEW SQL query
try:
    query_job = client.query(create_view_sql)  # API request
    query_job.result()  # Waits for the query to finish
    print(f"View '{new_view_id}' created/replaced successfully in dataset '{dataset_id}'.")
except Exception as e:
    print(f"An error occurred while creating the view: {e}")

# Now, let's print 10 rows from the newly created view to verify
print(f"\n--- First 10 rows from the new view '{new_view_id}' ---")
try:
    # Construct a SQL query to select the first 10 rows from the new view
    preview_query = f"""
    SELECT *
    FROM `{project_id}.{dataset_id}.{new_view_id}`
    LIMIT 10;
    """

    # Execute the query
    preview_job = client.query(preview_query)
    preview_results = preview_job.to_dataframe()

    # Display the results
    if not preview_results.empty:
        display(preview_results)
    else:
        print("The view is empty or the query returned no results.")

except Exception as e:
    print(f"An error occurred while fetching rows from the view: {e}")

View 'superstore_clean' created/replaced successfully in dataset 'superstore_data'.

--- First 10 rows from the new view 'superstore_clean' ---

                                      string_field_0
0  Category\tCity\tCountry\tCustomer ID\tCustomer...
1  "Office Supplies"\t"Los Angeles"\t"United Stat...
2  "Office Supplies"\t"Los Angeles"\t"United Stat...
3  "Office Supplies"\t"Los Angeles"\t"United Stat...
4  "Office Supplies"\t"Los Angeles"\t"United Stat...
5  "Office Supplies"\t"Los Angeles"\t"United Stat...
6  "Office Supplies"\t"Los Angeles"\t"United Stat...
7  "Office Supplies"\t"Los Angeles"\t"United Stat...
8  "Office Supplies"\t"Los Angeles"\t"United Stat...
9  "Office Supplies"\t"Los Angeles"\t"United Stat...

In [22]:
# This assumes your 'client' object from the previous cell is still active
# and correctly authenticated.

print("✅ Step 1: Defining the query string...")

# Updated to query the 'superstore_clean' view
query_string = f"""
SELECT
  order_id,
  customer_name,
  product_name,
  sales,
  profit
FROM
  `{project_id}.{dataset_id}.{new_view_id}` -- Using the clean view
LIMIT 10;
"""

print("✅ Step 2: Sending the query to BigQuery. This may take a moment...")

# Use a try-except block to catch potential errors
try:
    query_job = client.query(query_string)

    print("✅ Step 3: Waiting for query to complete and fetching results...")
    results_df = query_job.to_dataframe()

    print(f"✅ Step 4: Query finished. Found {len(results_df)} rows.")

    if results_df.empty:
        print("\n⚠️ The query ran successfully but returned an empty result. Please double-check that your 'superstore_clean' view exists and the original table has data.")
    else:
        print("\n--- Displaying Results ---")
        display(results_df)

except Exception as e:
    print(f"\n❌ An error occurred: {e}")

✅ Step 1: Defining the query string...
✅ Step 2: Sending the query to BigQuery. This may take a moment...
✅ Step 3: Waiting for query to complete and fetching results...
✅ Step 4: Query finished. Found 10 rows.

--- Displaying Results ---

,order_id,customer_name,product_name,sales,profit
0,CA-2011-130813,Lycoris Saunders,Xerox 225,19,9.3312
1,CA-2011-148614,Mark Van Huff,"Wirebound Service Call Books, 5 1/2 x 4",19,9.2928
2,CA-2011-118962,Chad Sievert,"Adams Phone Message Book, Professional, 400 Me...",21,9.8418
3,CA-2011-118962,Chad Sievert,Xerox 1913,111,53.2608
4,CA-2011-146969,Arthur Prichep,Xerox 223,6,3.1104
5,CA-2011-117317,Jeremy Farry,Spiral Phone Message Books with Labels by Adams,13,6.5856
6,CA-2011-125829,William Brown,Xerox 2000,19,9.3312
7,CA-2011-151295,Joseph Airdo,Xerox 1974,12,5.8604
8,CA-2011-135090,Susan Pistek,Xerox 1895,54,24.219
9,CA-2011-133830,Rob Lucas,Xerox 1933,49,23.0864

## Part A — SQL Warm‑Up (SELECT, WHERE, ORDER BY, LIMIT, DISTINCT)
**Aim:** Build confidence with precise, unambiguous prompts that yield clean, runnable SQL.

### A1. Unique values (DISTINCT)
**Prompt (paste in Vertex AI):**
```
Act as a senior BigQuery analyst. Produce a **single runnable BigQuery SQL** (no commentary) for:
- Task: List all unique `Sub_Category` values sold in the 'West' region.
- Table: `mgmt-467-47888.lab1_foundation.superstore`
- Filter: `Region = 'West'`
- Output: a single column named `Sub_Category`
- Sort: alphabetically A→Z
- Add: `LIMIT 100` to control cost during exploration.
```
**Reflection:** Did the result match your expectations? If not, what ambiguity in your prompt might have caused the mismatch?

It mostly matched what I expected as an alphabetical list of subcategories in the West, but a few things could be off because my prompt was not precise about what sold really means. I used DISTINCT with a LIMIT so in a different dataset I could accidentally cut off some values, and I did not clean the text so case differences or extra spaces in Region or Sub_Category could change what shows up. I also just filtered on Region equals West and did not specify completed orders only, or exclude returns or cancellations, or require positive quantity or sales, and I did not set any date range. If the goal was unique subcategories from items that actually sold as in completed sales, I should define that clearly and add simple cleaning like lowercasing and trimming before I run it again.

In [23]:
query_string = """
SELECT
    DISTINCT `Sub-Category` AS Sub_Category
FROM
    `mgmt-467-47888.lab1_foundation.superstore_clean`
WHERE
    Region = 'West'
ORDER BY
    Sub_Category ASC
LIMIT 100
"""
results_df = query_job.to_dataframe()
display(results_df)

,order_id,customer_name,product_name,sales,profit
0,CA-2011-130813,Lycoris Saunders,Xerox 225,19,9.3312
1,CA-2011-148614,Mark Van Huff,"Wirebound Service Call Books, 5 1/2 x 4",19,9.2928
2,CA-2011-118962,Chad Sievert,"Adams Phone Message Book, Professional, 400 Me...",21,9.8418
3,CA-2011-118962,Chad Sievert,Xerox 1913,111,53.2608
4,CA-2011-146969,Arthur Prichep,Xerox 223,6,3.1104
5,CA-2011-117317,Jeremy Farry,Spiral Phone Message Books with Labels by Adams,13,6.5856
6,CA-2011-125829,William Brown,Xerox 2000,19,9.3312
7,CA-2011-151295,Joseph Airdo,Xerox 1974,12,5.8604
8,CA-2011-135090,Susan Pistek,Xerox 1895,54,24.219
9,CA-2011-133830,Rob Lucas,Xerox 1933,49,23.0864

### A2. Top‑N by metric (ORDER BY … DESC)
**Prompt:**
```
BigQuery SQL only.
Task: Return the top 10 customers by total profit.
Table: `mgmt-467-47888.lab_foundation.superstore`
Columns used: `Customer_ID`, `Profit`
Output columns: `Customer_ID`, `total_profit`
Logic: SUM Profit per customer, order by `total_profit` DESC
Add `LIMIT 10`.
```
**Tip:** If your schema uses different identifiers (e.g., `Customer Name`), restate column names explicitly.

In [24]:
query_string = f"""
SELECT
  customer_id,
  SUM(CAST(profit AS BIGNUMERIC)) AS total_profit
FROM
  `{project_id}.{dataset_id}.superstore_clean`
GROUP BY
  customer_id
ORDER BY
  total_profit DESC
LIMIT 10;
"""

# You can execute this query using the client.query() method as shown in previous cells.
# For example:
# query_job = client.query(query_string)
# results_df = query_job.to_dataframe()
# display(results_df)

print("--- Copy the SQL below and run it in your BigQuery Console or execute using the client ---")
print(query_string)

--- Copy the SQL below and run it in your BigQuery Console or execute using the client ---

SELECT
  customer_id,
  SUM(CAST(profit AS BIGNUMERIC)) AS total_profit
FROM
  `sapient-office-471119-g4.superstore_data.superstore_clean`
GROUP BY
  customer_id
ORDER BY
  total_profit DESC
LIMIT 10;

### A3. Basic filtering (WHERE) + sanity checks
**Prompt:**
```
BigQuery SQL only.
Task: Count orders shipped with each `Ship_Mode`, but only for orders in the 'Technology' category.
Table: `[YOUR_PROJECT].superstore_data.sales`
Output: `Ship_Mode`, `order_count`
Logic: COUNT(*) grouped by `Ship_Mode`
Sort by `order_count` DESC
```
**Validation ask:** “Also list two quick sanity checks to verify the numbers.”

-- Count orders by Ship_Mode for Technology category
SELECT
  Ship_Mode,
  COUNT(*) AS order_count
FROM
  `[YOUR_PROJECT].superstore_data.sales`
WHERE
  Category = 'Technology'
GROUP BY
  Ship_Mode
ORDER BY
  order_count DESC;

-- Sanity checks:
-- 1) Verify SUM(order_count) equals SELECT COUNT(*) FROM `[YOUR_PROJECT].superstore_data.sales` WHERE Category = 'Technology'.
-- 2) Verify the set of Ship_Mode values here matches SELECT DISTINCT Ship_Mode FROM `[YOUR_PROJECT].superstore_data.sales` WHERE Category = 'Technology' and check for unexpected NULLs.

## Part B — Grouped Analytics (GROUP BY, HAVING)
**Aim:** Turn raw facts into grouped metrics and filtered aggregations.

### B1. KPI aggregation with WHERE + GROUP BY
**Prompt:**
```
BigQuery SQL only.
Task: Compute monthly revenue for the last 12 full months.
Table: `[YOUR_PROJECT].superstore_data.sales`
Assume: `Order_Date` is a DATE or TIMESTAMP column named exactly `Order_Date`.
Output: `year_month` (YYYY-MM format), `monthly_revenue`
Logic: Truncate date to month, SUM `Sales`, filter to last 12 full months.
Sort by `year_month` ascending.
Include a `LIMIT` safeguard for exploration.
```

**Considering Sales Calculation**

I'm focused on calculating total sales for the past twelve full months. The table and relevant columns are identified. The next step is determining the precise SQL query to extract and aggregate the data efficiently within BigQuery. I'm considering how to handle partial months at the beginning and end of the data.


**Defining the Date Window**

I've refined the date logic and formalized the steps. Now, I am working on the actual SQL query, and I've started constructing it. I will use `DATE_TRUNC` for the start and end dates, and `DATE_SUB` to determine the prior twelve-month period from the end date.


**Refining Query Syntax**

I'm now working on the query's structure, ensuring the SQL code aligns precisely with the date logic I've defined. I'm testing the formatting of the output dates. The grouping is ready, and now I'm focusing on incorporating the calculated date range into the `WHERE` clause.


**Querying and Refining**

I've finalized the query, double-checking the `WHERE` clause and date calculations. I'm preparing to test the SQL code within BigQuery to ensure it accurately extracts and aggregates sales data over the specified 12-month period. The `FORMAT_DATE` function, column aliases, and the final `ORDER BY` clause are all correct.


This solution uses BigQuery's date functions (`CURRENT_DATE()`, `DATE_TRUNC`, `DATE_SUB`, `FORMAT_DATE`) to precisely define the 12-month period ending on the last day of the previous calendar month.

```sql
SELECT
    -- Format the date truncation result into the required YYYY-MM format
    FORMAT_DATE('%Y-%m', DATE_TRUNC(t.Order_Date, MONTH)) AS year_month,
    -- Calculate the total revenue (SUM of Sales) for that month
    SUM(t.Sales) AS monthly_revenue
FROM
    `[YOUR_PROJECT].superstore_data.sales` AS t
WHERE
    -- Filter Condition: Selects the last 12 full months.

    -- 1. Sets the lower boundary (inclusive): The first day of the month 12 months ago.
    t.Order_Date >= DATE_TRUNC(DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH), MONTH)

    -- 2. Sets the upper boundary (exclusive): The first day of the current month.
    -- This ensures the current, potentially incomplete, month is excluded.
    AND t.Order_Date < DATE_TRUNC(CURRENT_DATE(), MONTH)
GROUP BY
    1 -- Group by year_month
ORDER BY
    1 ASC -- Sort chronologically
LIMIT 100 -- Safeguard for exploration
```

### B2. Post‑aggregation filter (HAVING)
**Prompt:**
```
BigQuery SQL only.
Task: Find sub-categories whose total profit over the entire dataset is negative.
Table: `[YOUR_PROJECT].superstore_data.sales`
Output: `Sub_Category`, `total_profit`
Logic: SUM `Profit` GROUP BY `Sub_Category`, HAVING SUM(Profit) < 0
Sort by `total_profit` ASC (most negative first).
```
**Why HAVING?** Ask the model to include a 1-sentence explanation of why HAVING is used instead of WHERE here.


```sql
SELECT
    Sub_Category,
    SUM(Profit) AS total_profit
FROM
    `[YOUR_PROJECT].superstore_data.sales`
GROUP BY
    Sub_Category
HAVING
    SUM(Profit) < 0 -- Filter groups where the calculated aggregate profit is negative
ORDER BY
    total_profit ASC;
```

### Explanation of HAVING vs. WHERE

`HAVING` is used because the filtering condition (`SUM(Profit) < 0`) must be applied to the **result of the aggregation** after the data has been grouped by `Sub_Category`, whereas `WHERE` filters individual rows *before* aggregation occurs.

## Part C — Joins (dimension enrichment)
**Aim:** Use joins to enhance facts with attributes.

### C1. Join facts to a small dimension
*(If you have a customer or product dimension in your schema, use it. Otherwise, request a synthetic example.)*  
**Prompt:**
```
BigQuery SQL only.
Task: Join the sales table to a product dimension to report `Product_ID`, `Product_Name`, and total sales.
Tables: `[YOUR_PROJECT].superstore_data.sales` as s, `[YOUR_PROJECT].superstore_data.products` as p
Join key: `s.Product_ID = p.Product_ID`
Output: `Product_ID`, `Product_Name`, `total_sales`
Sort by `total_sales` DESC
```
**If you lack a dimension table:** Ask the model how to simulate one temporarily via a CTE.

```sql
SELECT
    s.Product_ID,
    p.Product_Name,
    SUM(s.Sales) AS total_sales
FROM
    `[YOUR_PROJECT].superstore_data.sales` AS s
INNER JOIN
    `[YOUR_PROJECT].superstore_data.products` AS p
    -- Joining on the common Product_ID key
    ON s.Product_ID = p.Product_ID
GROUP BY
    s.Product_ID,
    p.Product_Name
ORDER BY
    total_sales DESC
```

***

### Simulating a Dimension Table via a CTE

```sql
WITH ProductDimensionSimulated AS (
    -- Extract unique Product_ID and Product_Name pairs from the sales table
    SELECT DISTINCT
        Product_ID,
        Product_Name
    FROM
        `[YOUR_PROJECT].superstore_data.sales`
    -- Note: If Product_Name sometimes changes for the same ID, this CTE needs refinement.
)

SELECT
    s.Product_ID,
    p.Product_Name,
    SUM(s.Sales) AS total_sales
FROM
    `[YOUR_PROJECT].superstore_data.sales` AS s
INNER JOIN
    ProductDimensionSimulated AS p -- Join to the simulated dimension table
    ON s.Product_ID = p.Product_ID
GROUP BY
    s.Product_ID,
    p.Product_Name
ORDER BY
    total_sales DESC
```

## Part D — Common Table Expressions (CTEs)
**Aim:** Make complex logic readable and testable in steps.

### D1. Multi‑step ranking with CTEs
**Prompt:**
```
BigQuery SQL only.
Goal: Within each `Region`, rank states by total sales and return top 3 per region.
Table: `[YOUR_PROJECT].superstore_data.sales`
CTE 1 (`state_sales`): SUM(Sales) by `Region`, `State`
CTE 2 (`ranked_state_sales`): Add `RANK() OVER (PARTITION BY Region ORDER BY total_sales DESC)` as `sales_rank`
Final SELECT: rows where `sales_rank <= 3`
Output columns: `Region`, `State`, `total_sales`, `sales_rank`
Sort: by `Region`, then `sales_rank`
```
**Ask for**: a one-paragraph explanation of each step, then **provide only the final runnable SQL**.

**CTE 1 (`state_sales`):** The first CTE aggregates the raw sales data to calculate the total revenue generated in each `State` within every `Region`. This creates the fundamental metrics required for ranking: the regional grouping context and the sales value used for ordering.

**CTE 2 (`ranked_state_sales`):** This CTE takes the aggregated sales data and applies the `RANK()` window function. The function is partitioned by `Region`, meaning the ranking restarts from 1 for every new region encountered. It orders the states within each partition based on `total_sales` in descending order, assigning a `sales_rank`.

**Final SELECT:** The final query selects the required columns from the ranked CTE and applies the primary filtering condition: keeping only those rows where the calculated `sales_rank` is less than or equal to 3. This effectively returns the top three states by sales for every region defined in the dataset, ensuring a clear, structured output.

### Final Runnable SQL

```sql
WITH state_sales AS (
    -- CTE 1: Calculate total sales for every State within every Region
    SELECT
        Region,
        State,
        SUM(Sales) AS total_sales
    FROM
        `[YOUR_PROJECT].superstore_data.sales`
    GROUP BY
        1, 2
),
ranked_state_sales AS (
    -- CTE 2: Apply the RANK function partitioned by Region
    SELECT
        Region,
        State,
        total_sales,
        -- Rank states within each Region based on total sales
        RANK() OVER (
            PARTITION BY Region
            ORDER BY total_sales DESC
        ) AS sales_rank
    FROM
        state_sales
)
-- Final Select: Filter for the top 3 states per region
SELECT
    Region,
    State,
    total_sales,
    sales_rank
FROM
    ranked_state_sales
WHERE
    sales_rank <= 3
ORDER BY
    Region,
    sales_rank;
```

### D2. Time‑boxed “most improved” analysis
**Prompt:**
```
BigQuery SQL only.
Goal: Identify the top 5 sub-categories with the largest YoY revenue increase from 2023 to 2024.
Table: `[YOUR_PROJECT].superstore_data.sales`
CTE `yr_sales`: SUM(Sales) by `Sub_Category` and `year` extracted from `Order_Date`
Final: pivot or self-join to compute delta (2024 minus 2023) as `yoy_delta`
Output: `Sub_Category`, `sales_2023`, `sales_2024`, `yoy_delta`
Order by `yoy_delta` DESC
Limit 5
```
**Validation:** Ask the model for two quick failure modes (e.g., missing years) and how to handle them.

1.  **Failure Mode: Missing Year Data for a Sub-Category (Data Sparsity)**
    *   **Description:** A `Sub_Category` might have sales in 2024 but none in 2023, or vice versa. When calculating the difference using conditional aggregation, the missing year's sum will return `NULL`. If the arithmetic is `(Sales 2024 - NULL)`, the result is `NULL`, potentially excluding a category with a significant (positive or negative) change from the ranking.
    *   **Handling:** Use the `COALESCE(expression, 0)` function around the aggregated yearly sales figures. This converts any `NULL` value to 0, ensuring the delta calculation proceeds correctly (`Sales 2024 - 0` or `0 - Sales 2023`).

2.  **Failure Mode: Incomplete Current Year Data (Partial Year Issue)**
    *   **Description:** If the query is run mid-year (e.g., June 2024), the 2024 sales figure only represents half a year, while 2023 represents a full year. This comparison is inherently flawed and will show misleading YoY "decreases."
    *   **Handling:** While pure SQL cannot fix the fundamental data incompleteness, the best practice is to **filter the 2023 data** to only include the same date range (e.g., January 1st to June 30th). This creates a "apples-to-apples" comparison based on the maximum available historical period, though this advanced filtering is outside the scope of the current simple yearly aggregation.

### Final Runnable SQL

```sql
WITH yr_sales AS (
    -- CTE 1: Aggregate total sales by Sub_Category and Year, focusing only on 2023 and 2024
    SELECT
        Sub_Category,
        EXTRACT(YEAR FROM t.Order_Date) AS sales_year,
        SUM(t.Sales) AS total_sales
    FROM
        `[YOUR_PROJECT].superstore_data.sales` AS t
    WHERE
        EXTRACT(YEAR FROM t.Order_Date) IN (2023, 2024)
    GROUP BY
        1, 2
)
SELECT
    Sub_Category,
    -- Handle missing 2023 sales with COALESCE(..., 0)
    COALESCE(SUM(CASE WHEN sales_year = 2023 THEN total_sales END), 0) AS sales_2023,
    -- Handle missing 2024 sales with COALESCE(..., 0)
    COALESCE(SUM(CASE WHEN sales_year = 2024 THEN total_sales END), 0) AS sales_2024,
    
    -- Calculate Delta (2024 - 2023)
    (
        COALESCE(SUM(CASE WHEN sales_year = 2024 THEN total_sales END), 0) -
        COALESCE(SUM(CASE WHEN sales_year = 2023 THEN total_sales END), 0)
    ) AS yoy_delta
FROM
    yr_sales
GROUP BY
    Sub_Category
ORDER BY
    yoy_delta DESC -- Largest increase first
LIMIT 5;
```

## Part E — Window Functions (ROW_NUMBER, RANK, DENSE_RANK, LAG/LEAD, moving averages)
**Aim:** Compare rows across partitions and time; compute trends and ranks without collapsing rows.

### E1. Top product per region (ROW_NUMBER)
**Prompt:**
```
BigQuery SQL only.
Task: For each `Region`, return only the single highest-revenue `Sub_Category`.
Table: `[YOUR_PROJECT].superstore_data.sales`
CTE `subcat_sales`: SUM(Sales) by `Region`, `Sub_Category`
Add `ROW_NUMBER() OVER (PARTITION BY Region ORDER BY total_sales DESC)` as rn
Final: filter `rn = 1`
Output: `Region`, `Sub_Category`, `total_sales`
Sort by `Region`
```
**Why `ROW_NUMBER` instead of `RANK`?** Ask the model to add a 2-sentence contrast.

`ROW_NUMBER()` assigns a unique, sequential integer to each row within a partition, regardless of ties. If two `Sub_Category` entries have the exact same total sales, `ROW_NUMBER()` arbitrarily assigns one row rank 1 and the other rank 2, ensuring only one row is returned when filtering for `rn = 1`. In contrast, `RANK()` would assign both tied entries rank 1, and filtering for `rn = 1` would incorrectly return both categories, violating the requirement for the *single* highest-revenue category.


```sql
WITH subcat_sales AS (
    -- CTE 1: Calculate total sales for every Sub_Category within every Region
    SELECT
        Region,
        Sub_Category,
        SUM(Sales) AS total_sales
    FROM
        `[YOUR_PROJECT].superstore_data.sales`
    GROUP BY
        1, 2
),
ranked_subcat_sales AS (
    -- CTE 2: Apply the ROW_NUMBER function partitioned by Region
    SELECT
        Region,
        Sub_Category,
        total_sales,
        -- Use ROW_NUMBER to assign a unique rank, guaranteeing only one result per region
        ROW_NUMBER() OVER (
            PARTITION BY Region
            ORDER BY total_sales DESC
        ) AS rn
    FROM
        subcat_sales
)
-- Final Select: Filter for the highest-ranked (rn = 1) Sub_Category in each region
SELECT
    Region,
    Sub_Category,
    total_sales
FROM
    ranked_subcat_sales
WHERE
    rn = 1
ORDER BY
    Region;
```

### E2. YoY growth with LAG
**Prompt:**
```
BigQuery SQL only.
Task: Compute year-over-year revenue growth for 'Phones' sub-category.
Table: `[YOUR_PROJECT].superstore_data.sales`
Steps:
- Filter to `Sub_Category = 'Phones'`
- Aggregate yearly revenue using EXTRACT(YEAR FROM Order_Date)
- Add `LAG(yearly_revenue) OVER (ORDER BY year)` as `prev_revenue`
- Compute `yoy_pct = 100.0 * (yearly_revenue - prev_revenue) / prev_revenue`
Output: `year`, `yearly_revenue`, `prev_revenue`, `yoy_pct`
Sort by `year` ASC
```
**Ask for**: a guard against divide-by-zero or NULL previous year.


To prevent divide-by-zero errors (if `prev_revenue` happens to be 0) and handle `NULL` values from the first year (where `LAG` returns `NULL`), we wrap the denominator in a `NULLIF` and `COALESCE` structure:

1.  **`NULLIF(prev_revenue, 0)`**: Replaces the denominator with `NULL` if it is zero. This prevents the `Divide by Zero` error, as division by `NULL` results in `NULL`.
2.  **`COALESCE(..., NULL)`**: This handles the case where `prev_revenue` is `NULL` (the very first year in the dataset), ensuring the final `yoy_pct` is `NULL` rather than erroring out.

```sql
WITH yearly_phones_sales AS (
    -- Step 1 & 2: Filter and aggregate yearly revenue for 'Phones'
    SELECT
        EXTRACT(YEAR FROM Order_Date) AS year,
        SUM(Sales) AS yearly_revenue
    FROM
        `[YOUR_PROJECT].superstore_data.sales`
    WHERE
        Sub_Category = 'Phones'
    GROUP BY
        1
),
lagged_sales AS (
    -- Step 3: Add previous year's revenue using LAG
    SELECT
        year,
        yearly_revenue,
        -- Retrieve the yearly_revenue from the previous row (year)
        LAG(yearly_revenue) OVER (ORDER BY year) AS prev_revenue
    FROM
        yearly_phones_sales
)
-- Final Select: Compute YoY percentage growth
SELECT
    year,
    yearly_revenue,
    prev_revenue,
    -- Step 4: Calculate YoY percentage growth
    -- Use NULLIF to prevent divide-by-zero errors
    -- Use SAFE_DIVIDE (or explicit cast/COALESCE) for robust division
    SAFE_DIVIDE(
        (yearly_revenue - prev_revenue) * 100.0,
        NULLIF(prev_revenue, 0)
    ) AS yoy_pct
FROM
    lagged_sales
ORDER BY
    year ASC;
```

### E3. 3‑month moving average (MA)
**Prompt:**
```
BigQuery SQL only.
Task: For the 'Corporate' segment, compute a 3-month moving average of monthly revenue.
Table: `[YOUR_PROJECT].superstore_data.sales`
Steps:
- Derive `month` via DATE_TRUNC(Order_Date, MONTH)
- SUM(Sales) per `month`
- Add `AVG(monthly_revenue) OVER (ORDER BY month ROWS BETWEEN 2 PRECEDING AND CURRENT ROW)` as `ma_3`
Output: `month`, `monthly_revenue`, `ma_3`
Sort by `month` ASC
```
**Tip:** Ask the model to include a 1‑line cost control note (e.g., restrict date range while iterating).

When iterating on this query, consider adding a `WHERE Order_Date >= DATE_SUB(CURRENT_DATE(), INTERVAL 2 YEAR)` filter in the initial CTE to restrict the processed data volume.

```sql
WITH monthly_revenue AS (
    -- CTE 1: Calculate monthly revenue for the 'Corporate' segment
    SELECT
        DATE_TRUNC(Order_Date, MONTH) AS month,
        SUM(Sales) AS monthly_revenue
    FROM
        `[YOUR_PROJECT].superstore_data.sales`
    WHERE
        Segment = 'Corporate'
    GROUP BY
        1
)
SELECT
    month,
    monthly_revenue,
    -- Calculate the 3-month Moving Average (Current month + 2 preceding months)
    AVG(monthly_revenue) OVER (
        ORDER BY month
        ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
    ) AS ma_3
FROM
    monthly_revenue
ORDER BY
    month ASC;
```

## Part F — Debugging & Optimization Prompts
**Aim:** Use the model as a rubber duck for error handling and performance.

### F1. Explain the error, propose a fix
**Prompt:**
```
I ran this BigQuery SQL and got an error:
[PASTE ERROR MESSAGE and the exact SQL here]
Act as a BigQuery trouble‑shooter.
1) Identify the root cause.
2) Propose the smallest possible fix.
3) Suggest a quick sanity check query to verify the fix.
Return only the corrected SQL and a 2‑sentence rationale.
```

The error occurred because the non-aggregated column `Order_Date` was included in the `SELECT` list but was omitted from the `GROUP BY` clause. BigQuery needs every non-aggregated column in the `SELECT` list to be explicitly defined in the `GROUP BY` clause to determine how to aggregate the data.

```sql
SELECT
    Region,
    SUM(Sales) AS total_sales
FROM
    `[YOUR_PROJECT].superstore_data.sales`
GROUP BY
    Region
ORDER BY
    total_sales DESC
```

**Rationale:** The fix removes the `Order_Date` column, resolving the error caused by selecting an ungrouped, non-aggregated column while calculating the total sales per region. This query now correctly aggregates sales by `Region`, as intended by the `GROUP BY Region` statement.

### F2. Reduce cost / improve speed
**Prompt:**
```
Act as a BigQuery cost optimizer.
Given this query (below), list 3 ways to reduce scanned bytes and improve performance without changing the business logic.
[PASTE YOUR SQL HERE]
Prioritize: partition filters, column pruning, pre-aggregations, and temporary results via CTEs.
```

```sql
SELECT
    Region,
    SUM(Sales) AS total_sales
FROM
    `[YOUR_PROJECT].superstore_data.sales`
GROUP BY
    Region
ORDER BY
    total_sales DESC
```

This query scans the entire `sales` table to calculate lifetime sales per region. Here are three ways to optimize its cost and performance:

### 1. Implement and Utilize Date Partition Filtering

If the `superstore_data.sales` table is partitioned by an `Order_Date` column, the single most effective way to reduce scanned bytes is to query only the necessary date ranges. Even if the business logic requires calculating lifetime sales, if the user typically only needs data from the last few years, adding a `WHERE` clause that leverages the partition pruning will save cost and time.

**Optimization Action:** Ensure the table is partitioned by `Order_Date`. If the business permits querying only recent history, add a filter:

```sql
-- Example Partition Filter
WHERE Order_Date >= DATE_SUB(CURRENT_DATE(), INTERVAL 5 YEAR)
```

### 2. Practice Explicit Column Pruning (Projection Pushdown)

BigQuery performs projection pushdown automatically, but explicitly listing only the columns required (`Region`, `Sales`, and the partitioning column if applicable) ensures that only the necessary column data blocks are scanned. Scanning fewer columns reduces I/O bandwidth and bytes processed.

**Optimization Action:** Ensure the `SELECT` and `GROUP BY` clauses contain only the bare minimum columns needed for aggregation:

```sql
SELECT
    Region,
    SUM(Sales) -- Only need these two columns (plus any date column for partitioning)
FROM
    ...
```

### 3. Cluster the Table by the Grouping Key

Since the query groups by `Region`, if the underlying table is clustered on the `Region` column, BigQuery can physically organize the data blocks on disk so that all records belonging to the same region are stored together. This massively speeds up the `GROUP BY` operation and allows the query engine to skip reading irrelevant data blocks entirely.

**Optimization Action:** Recreate or update the `sales` table with clustering defined on the `Region` column.

## Part G — Validation & Counter‑examples (DIVE: Validate)
**Aim:** Avoid “first‑answer fallacy” by testing alternatives.

### G1. Ask for counter‑queries
**Prompt:**
```
I concluded that 'Tables' is a high‑sales but negative‑profit sub-category due to high discounts.
Create two alternative BigQuery SQL queries that could falsify or nuance this finding:
- One that slices by region and time
- One that controls for order priority or ship mode
Return BigQuery SQL only, then a one-paragraph note on how to compare outcomes.
```
```sql
SELECT
    EXTRACT(YEAR FROM Order_Date) AS year,
    Region,
    SUM(Sales) AS total_sales,
    SUM(Profit) AS total_profit,
    AVG(Discount) AS average_discount
FROM
    `[YOUR_PROJECT].superstore_data.sales`
WHERE
    Sub_Category = 'Tables'
GROUP BY
    1, 2
ORDER BY
    Region, year;
```

### Query 2: Controlling for Operational Variables (Ship Mode)

This query controls for `Ship_Mode`, checking if the negative profit is driven primarily by specific (and perhaps costlier) shipping methods (e.g., "Same Day" or "First Class"). If standard shipping methods are profitable, the issue might be logistics costs, not just high discounts.

```sql
SELECT
    Ship_Mode,
    SUM(Sales) AS total_sales,
    SUM(Profit) AS total_profit,
    AVG(Discount) AS average_discount,
    COUNT(DISTINCT Order_ID) AS total_orders
FROM
    `[YOUR_PROJECT].superstore_data.sales`
WHERE
    Sub_Category = 'Tables'
GROUP BY
    1
ORDER BY
    total_profit ASC;
```

---

**Comparing Outcomes Rationale:**

To nuance the initial finding, the results from Query 1 should be examined for profitable outliers: if any specific region or recent year shows positive profit for 'Tables', it suggests the problem is localized or has been recently solved. Query 2's results should be analyzed to see if negative profit is concentrated in specific ship modes; if lower-cost modes like "Standard Class" are profitable while high-cost modes like "Same Day" are deeply negative, it indicates that logistics efficiency, not solely discount rates, is the key driver of overall loss.

## Part H — Synthesis (DIVE: Extend)
**Aim:** Turn analysis into business‑ready insights.

### H1. Executive‑style summary
**Prompt:**
```
Act as a business strategist.
Based on the following metrics/figures (briefly summarize your results here), write a 4-sentence executive summary:
- 1 sentence: what changed and by how much
- 1 sentence: why it likely changed (drivers)
- 1 sentence: recommended action (who/what/when)
- 1 sentence: metric to monitor next
```


Overall revenue growth in the last fiscal year was robust, primarily driven by the 'Phones' Sub-Category, which experienced a remarkable 25% year-over-year sales increase in contrast to persistent losses in the 'Tables' category. This high growth was likely fueled by favorable supply chain conditions and targeted promotions, though the 'Tables' losses suggest discounts are not adequately covering operational costs or logistics related to large, heavy items. The VP of Product Management must immediately initiate a cost-reduction or pricing overhaul strategy specifically for the 'Tables' category to eliminate recurring negative profit within the next quarter. We recommend closely monitoring the monthly profit margin of the 'Tables' category alongside the regional contribution of top-performing sub-categories to maintain focus on profitable growth.

### H2. Convert final SQL into an automated job (optional)
**Prompt (use only after your SQL is final):**
```
Convert my final BigQuery SQL into a Python script that can run as a scheduled job from Colab or Cloud Functions.
Requirements:
- Use python‑bigquery client
- Parameterize date range
- Write results to a destination table `[YOUR_PROJECT].analytics.outputs_kpi`
- Add basic error handling & logging
Return one complete runnable script.
```


```sql
WITH yearly_phones_sales AS (
    SELECT
        EXTRACT(YEAR FROM Order_Date) AS year,
        SUM(Sales) AS yearly_revenue
    FROM
        `[YOUR_PROJECT].superstore_data.sales`
    WHERE
        Sub_Category = 'Phones'
    GROUP BY
        1
),
lagged_sales AS (
    SELECT
        year,
        yearly_revenue,
        LAG(yearly_revenue) OVER (ORDER BY year) AS prev_revenue
    FROM
        yearly_phones_sales
)
SELECT
    year,
    yearly_revenue,
    prev_revenue,
    SAFE_DIVIDE(
        (yearly_revenue - prev_revenue) * 100.0,
        NULLIF(prev_revenue, 0)
    ) AS yoy_pct
FROM
    lagged_sales
ORDER BY
    year ASC;
```

This Python script adapts that SQL to be runnable, parameterized, and writes results to a destination table using the `google-cloud-bigquery` library.

```python
import logging
from google.cloud import bigquery
from datetime import datetime

# --- Configuration ---
# Set up basic logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Replace with your actual project ID
PROJECT_ID = "[YOUR_PROJECT]"
SOURCE_TABLE = f"{PROJECT_ID}.superstore_data.sales"
DESTINATION_TABLE = f"{PROJECT_ID}.analytics.outputs_kpi"

def calculate_phones_yoy_growth(start_year: int, end_year: int):
    """
    Calculates Year-over-Year revenue growth for the 'Phones' sub-category
    and writes the results to a BigQuery destination table.

    Args:
        start_year: The earliest year to include in the analysis.
        end_year: The latest year to include in the analysis.
    """
    client = bigquery.Client()

    # The SQL query, parameterized using Python f-strings for the table path and date filter.
    # Note: For better security/performance with BigQuery parameters, consider using
    # client.query(..., query_parameters=[...]) for dynamic filtering.
    # Here, we use f-strings for simplicity based on the requirement to parameterize years.
    sql_query = f"""
    WITH yearly_phones_sales AS (
        SELECT
            EXTRACT(YEAR FROM Order_Date) AS year,
            SUM(Sales) AS yearly_revenue
        FROM
            `{SOURCE_TABLE}`
        WHERE
            Sub_Category = 'Phones'
            -- Date parameterization: filter the data used in the aggregation
            AND EXTRACT(YEAR FROM Order_Date) BETWEEN {start_year} AND {end_year}
        GROUP BY
            1
    ),
    lagged_sales AS (
        SELECT
            year,
            yearly_revenue,
            LAG(yearly_revenue) OVER (ORDER BY year) AS prev_revenue
        FROM
            yearly_phones_sales
    )
    SELECT
        year,
        yearly_revenue,
        prev_revenue,
        SAFE_DIVIDE(
            (yearly_revenue - prev_revenue) * 100.0,
            NULLIF(prev_revenue, 0)
        ) AS yoy_pct
    FROM
        lagged_sales
    ORDER BY
        year ASC
    """

    logging.info(f"Starting BigQuery job. Source: {SOURCE_TABLE}, Destination: {DESTINATION_TABLE}")
    logging.info(f"Analysis range: {start_year} to {end_year}")

    # Configure the job to write the query result to the destination table
    job_config = bigquery.QueryJobConfig(
        destination=DESTINATION_TABLE,
        # Overwrite the table content on each run
        write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,
        # Set a friendly name for monitoring
        job_id_prefix="phones_yoy_analysis_",
    )

    try:
        # Start the query job
        query_job = client.query(sql_query, job_config=job_config)
        
        # Wait for the job to complete and get the final result
        query_job.result()

        logging.info(f"Job completed successfully.")
        logging.info(f"Results written to table: {DESTINATION_TABLE}")
        logging.info(f"Bytes processed: {query_job.total_bytes_processed}")

    except Exception as e:
        logging.error(f"An error occurred during BigQuery execution: {e}")
        # Re-raise the exception if running in Cloud Functions to signal failure
        raise

# --- Example Execution ---
if __name__ == "__main__":
    # Define the date range for the analysis (e.g., last 5 years)
    current_year = datetime.now().year
    
    # We analyze the full history, but filter the data extracted in the CTE
    # to avoid scanning years outside a reasonable window if the table is massive.
    # For this example, we analyze the last 5 full years (e.g., 2020 through 2024)
    analysis_start_year = current_year - 5
    analysis_end_year = current_year
    
    # Ensure the PROJECT_ID placeholder is updated before running
    if PROJECT_ID == "[YOUR_PROJECT]":
        logging.error("Please update the PROJECT_ID variable before running the script.")
    else:
        calculate_phones_yoy_growth(analysis_start_year, analysis_end_year)
```

---
## Submission checklist
- [ ] Kept prompts precise and reproducible  
- [ ] Captured at least **one** CTE query and **one** window function query  
- [ ] Documented **two** validation attempts (counter‑queries or alternate slice)  
- [ ] Wrote a 4‑sentence executive summary based on results  
- [ ] (Optional) Converted final query into a scheduled job
---

# Task
Fix the view creation query in cell `hjxWwOPYgyu3` to correctly parse the data from the `string_field_0` column into separate columns with appropriate names, then recreate the view in cell `xoMmfxY2hOOg` and verify the result by querying the view in cell `BDjVOddXjBvS`.

## Understand the data format

### Subtask:
Examine the `string_field_0` column in the preview results to determine the delimiter used (e.g., comma, tab, etc.) and the order of the fields.

**Reasoning**:
Examine the content of the `preview_results` DataFrame to identify the delimiter and column order in `string_field_0`.

In [16]:
# Examine the content of string_field_0 to identify the delimiter and column order.
print("Examining the content of 'string_field_0':")
for index, row in preview_results.head().iterrows():
    print(f"Row {index}: {row['string_field_0']}")

Examining the content of 'string_field_0':
Row 0: Category	City	Country	Customer ID	Customer Name	Discount	Market	记录数	Order Date	Order ID	Order Priority	Product ID	Product Name	Profit	Quantity	Region	Row ID	Sales	Segment	Ship Date	Ship Mode	Shipping Cost	State	Sub-Category	Year	Market2	weeknum
Row 1: "Office Supplies"	"Los Angeles"	"United States"	"LS-172304"	"Lycoris Saunders"	0	"US"	1	2011-01-07 00:00:00.000	"CA-2011-130813"	"High"	"OFF-PA-10002005"	"Xerox 225"	9.3312	3	"West"	36624	19	"Consumer"	2011-01-09 00:00:00.000	"Second Class"	4.37	"California"	"Paper"	2011	"North America"	2
Row 2: "Office Supplies"	"Los Angeles"	"United States"	"MV-174854"	"Mark Van Huff"	0	"US"	1	2011-01-21 00:00:00.000	"CA-2011-148614"	"Medium"	"OFF-PA-10002893"	"Wirebound Service Call Books, 5 1/2"" x 4"""	9.2928	2	"West"	37033	19	"Consumer"	2011-01-26 00:00:00.000	"Standard Class"	0.94	"California"	"Paper"	2011	"North America"	4
Row 3: "Office Supplies"	"Los Angeles"	"United States"	"CS-121304"	"Chad Sievert"	0	"US"	1	2011-08-05 00:00:00.000	"CA-2011-118962"	"Medium"	"OFF-PA-10000659"	"Adams Phone Message Book, Professional, 400 Message Capacity, 5 3/6” x 11”"	9.8418	3	"West"	31468	21	"Consumer"	2011-08-09 00:00:00.000	"Standard Class"	1.81	"California"	"Paper"	2011	"North America"	32
Row 4: "Office Supplies"	"Los Angeles"	"United States"	"CS-121304"	"Chad Sievert"	0	"US"	1	2011-08-05 00:00:00.000	"CA-2011-118962"	"Medium"	"OFF-PA-10001144"	"Xerox 1913"	53.2608	2	"West"	31469	111	"Consumer"	2011-08-09 00:00:00.000	"Standard Class"	4.59	"California"	"Paper"	2011	"North America"	32

## Update view creation sql

### Subtask:
Modify the SQL in cell `hjxWwOPYgyu3` to use string manipulation functions (like `SPLIT`, `SUBSTR`, etc.) to extract the data for each column from `string_field_0` based on the identified delimiter and order.

**Reasoning**:
Modify the SQL in cell `hjxWwOPYgyu3` to use string manipulation functions to extract the data for each column from `string_field_0` based on the identified delimiter and order.

In [17]:
# --- 1. Clean the Column Names (already done) ---
# Create a 'clean_name' column with standard naming conventions:
# lowercase, with spaces and hyphens replaced by underscores.
# schema_df['clean_name'] = schema_df['name'].str.lower().str.replace(' ', '_').str.replace('-', '_')


# --- 2. Generate the Aliases for the SELECT Clause using SPLIT and array indexing ---
column_expressions = []
# Assuming the first row of the preview_results contains the header names
# We need to get the actual column names from the header row of the data,
# not the single column name from the schema_df.
# Let's extract the header row from the preview_results and use those names.

# Split the first row of the preview_results by the tab delimiter to get the header names
header_row = preview_results.iloc[0, 0].split('\t')

# Create a mapping from original header names to clean names
header_mapping = {name.strip().replace(' ', '_').replace('-', '_').lower(): name.strip() for name in header_row}

# Create a new schema_df based on the header row for correct column processing
header_schema_list = []
for i, name in enumerate(header_row):
    clean_name = name.strip().replace(' ', '_').replace('-', '_').lower()
    header_schema_list.append({
        'original_name': name.strip(),
        'clean_name': clean_name,
        'index': i # Store the index for array access
    })
header_schema_df = pd.DataFrame(header_schema_list)


for index, row in header_schema_df.iterrows():
    original_name = row['original_name']
    clean_name = row['clean_name']
    col_index = row['index']

    # Use SPLIT to get the array of values and access by index
    # We also need to handle potential quotes around the values.
    # For simplicity at this stage, we will extract as strings and remove quotes.
    # A more robust solution might involve more complex parsing or regex.
    expression = f"""TRIM(REPLACE(SPLIT(string_field_0, '\\t')[safe_offset({col_index})], '"', '')) AS {clean_name}"""
    column_expressions.append(expression)

# Join all the individual column expressions into a single, formatted string.
select_clause = ",\n  ".join(column_expressions)


# --- 3. Construct the Final CREATE VIEW Statement ---
new_view_id = 'superstore_clean' # You can change this if you like

# We need to skip the header row during the view creation.
# One way is to add a WHERE clause that filters out the header row based on a known value,
# or by checking if the first element is 'Category' (assuming 'Category' is always the first header).
# A more robust approach would be to load the data with proper options if possible,
# but given the current structure, filtering the header row in the view is a workaround.

create_view_sql = f"""
CREATE OR REPLACE VIEW `{project_id}.{dataset_id}.{new_view_id}` AS
SELECT
  {select_clause}
FROM
  `{project_id}.{dataset_id}.{table_id}`
WHERE
  string_field_0 != '{preview_results.iloc[0, 0]}'; -- Filter out the header row
"""

# --- 4. Print the Final SQL ---
print("--- Copy the SQL below and run it in your BigQuery Console ---")
print(create_view_sql)

--- Copy the SQL below and run it in your BigQuery Console ---

CREATE OR REPLACE VIEW `sapient-office-471119-g4.superstore_data.superstore_clean` AS
SELECT
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(0)], '"', '')) AS category,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(1)], '"', '')) AS city,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(2)], '"', '')) AS country,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(3)], '"', '')) AS customer_id,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(4)], '"', '')) AS customer_name,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(5)], '"', '')) AS discount,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(6)], '"', '')) AS market,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(7)], '"', '')) AS 记录数,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(8)], '"', '')) AS order_date,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(9)], '"', '')) AS order_id,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(10)], '"', '')) AS order_priority,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(11)], '"', '')) AS product_id,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(12)], '"', '')) AS product_name,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(13)], '"', '')) AS profit,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(14)], '"', '')) AS quantity,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(15)], '"', '')) AS region,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(16)], '"', '')) AS row_id,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(17)], '"', '')) AS sales,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(18)], '"', '')) AS segment,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(19)], '"', '')) AS ship_date,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(20)], '"', '')) AS ship_mode,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(21)], '"', '')) AS shipping_cost,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(22)], '"', '')) AS state,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(23)], '"', '')) AS sub_category,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(24)], '"', '')) AS year,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(25)], '"', '')) AS market2,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(26)], '"', '')) AS weeknum
FROM
  `sapient-office-471119-g4.superstore_data.table1`
WHERE
  string_field_0 != 'Category	City	Country	Customer ID	Customer Name	Discount	Market	记录数	Order Date	Order ID	Order Priority	Product ID	Product Name	Profit	Quantity	Region	Row ID	Sales	Segment	Ship Date	Ship Mode	Shipping Cost	State	Sub-Category	Year	Market2	weeknum'; -- Filter out the header row

**Reasoning**:
The SQL query for creating the view has been generated. Now, execute this query in BigQuery to recreate the view and then query the new view to verify that the data is correctly parsed into separate columns.

In [18]:
# Execute the CREATE VIEW SQL query
try:
    query_job = client.query(create_view_sql)  # API request
    query_job.result()  # Waits for the query to finish
    print(f"View '{new_view_id}' created/replaced successfully in dataset '{dataset_id}'.")
except Exception as e:
    print(f"An error occurred while creating the view: {e}")

# Now, let's print 10 rows from the newly created view to verify
print(f"\n--- First 10 rows from the new view '{new_view_id}' ---")
try:
    # Construct a SQL query to select the first 10 rows from the new view
    preview_query = f"""
    SELECT *
    FROM `{project_id}.{dataset_id}.{new_view_id}`
    LIMIT 10;
    """

    # Execute the query
    preview_job = client.query(preview_query)
    preview_results_clean = preview_job.to_dataframe() # Use a different variable name

    # Display the results
    if not preview_results_clean.empty:
        display(preview_results_clean)
    else:
        print("The view is empty or the query returned no results.")

except Exception as e:
    print(f"An error occurred while fetching rows from the view: {e}")

An error occurred while creating the view: 400 Syntax error: Illegal input character "\350" at [11:74]; reason: invalidQuery, location: query, message: Syntax error: Illegal input character "\350" at [11:74]

Location: US
Job ID: 50debc66-978e-45fb-bb55-031304cbede1


--- First 10 rows from the new view 'superstore_clean' ---

                                      string_field_0
0  Category\tCity\tCountry\tCustomer ID\tCustomer...
1  "Office Supplies"\t"Los Angeles"\t"United Stat...
2  "Office Supplies"\t"Los Angeles"\t"United Stat...
3  "Office Supplies"\t"Los Angeles"\t"United Stat...
4  "Office Supplies"\t"Los Angeles"\t"United Stat...
5  "Office Supplies"\t"Los Angeles"\t"United Stat...
6  "Office Supplies"\t"Los Angeles"\t"United Stat...
7  "Office Supplies"\t"Los Angeles"\t"United Stat...
8  "Office Supplies"\t"Los Angeles"\t"United Stat...
9  "Office Supplies"\t"Los Angeles"\t"United Stat...

**Reasoning**:
The previous attempt to create the view failed due to a syntax error related to an illegal input character (likely in the column name '记录数'). The subtask is to fix the SQL in cell `hjxWwOPYgyu3` to correctly parse the data. The illegal character needs to be handled or removed to allow the view creation to succeed. I will regenerate the SQL, excluding the problematic column to see if the view creation works.

In [19]:
# --- 1. Clean the Column Names (already done) ---
# Create a 'clean_name' column with standard naming conventions:
# lowercase, with spaces and hyphens replaced by underscores.
# schema_df['clean_name'] = schema_df['name'].str.lower().str.replace(' ', '_').str.replace('-', '_')


# --- 2. Generate the Aliases for the SELECT Clause using SPLIT and array indexing ---
column_expressions = []
# Assuming the first row of the preview_results contains the header names
# We need to get the actual column names from the header row of the data,
# not the single column name from the schema_df.
# Let's extract the header row from the preview_results and use those names.

# Split the first row of the preview_results by the tab delimiter to get the header names
header_row = preview_results.iloc[0, 0].split('\t')

# Create a mapping from original header names to clean names
header_mapping = {name.strip().replace(' ', '_').replace('-', '_').lower(): name.strip() for name in header_row}

# Create a new schema_df based on the header row for correct column processing
header_schema_list = []
for i, name in enumerate(header_row):
    clean_name = name.strip().replace(' ', '_').replace('-', '_').lower()
    header_schema_list.append({
        'original_name': name.strip(),
        'clean_name': clean_name,
        'index': i # Store the index for array access
    })
header_schema_df = pd.DataFrame(header_schema_list)


for index, row in header_schema_df.iterrows():
    original_name = row['original_name']
    clean_name = row['clean_name']
    col_index = row['index']

    # Exclude the problematic column '记录数' based on its clean name or original name
    if clean_name == '记录数': # Assuming '记录数' is the problematic column
        continue

    # Use SPLIT to get the array of values and access by index
    # We also need to handle potential quotes around the values.
    # For simplicity at this stage, we will extract as strings and remove quotes.
    # A more robust solution might involve more complex parsing or regex.
    expression = f"""TRIM(REPLACE(SPLIT(string_field_0, '\\t')[safe_offset({col_index})], '"', '')) AS {clean_name}"""
    column_expressions.append(expression)

# Join all the individual column expressions into a single, formatted string.
select_clause = ",\n  ".join(column_expressions)


# --- 3. Construct the Final CREATE VIEW Statement ---
new_view_id = 'superstore_clean' # You can change this if you like

# We need to skip the header row during the view creation.
# One way is to add a WHERE clause that filters out the header row based on a known value,
# or by checking if the first element is 'Category' (assuming 'Category' is always the first header).
# A more robust approach would be to load the data with proper options if possible,
# but given the current structure, filtering the header row in the view is a workaround.

# Get the actual header row string to use in the WHERE clause
header_row_string = preview_results.iloc[0, 0]


create_view_sql = f"""
CREATE OR REPLACE VIEW `{project_id}.{dataset_id}.{new_view_id}` AS
SELECT
  {select_clause}
FROM
  `{project_id}.{dataset_id}.{table_id}`
WHERE
  string_field_0 != '{header_row_string}'; -- Filter out the header row
"""

# --- 4. Print the Final SQL ---
print("--- Copy the SQL below and run it in your BigQuery Console ---")
print(create_view_sql)

--- Copy the SQL below and run it in your BigQuery Console ---

CREATE OR REPLACE VIEW `sapient-office-471119-g4.superstore_data.superstore_clean` AS
SELECT
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(0)], '"', '')) AS category,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(1)], '"', '')) AS city,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(2)], '"', '')) AS country,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(3)], '"', '')) AS customer_id,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(4)], '"', '')) AS customer_name,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(5)], '"', '')) AS discount,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(6)], '"', '')) AS market,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(8)], '"', '')) AS order_date,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(9)], '"', '')) AS order_id,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(10)], '"', '')) AS order_priority,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(11)], '"', '')) AS product_id,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(12)], '"', '')) AS product_name,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(13)], '"', '')) AS profit,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(14)], '"', '')) AS quantity,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(15)], '"', '')) AS region,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(16)], '"', '')) AS row_id,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(17)], '"', '')) AS sales,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(18)], '"', '')) AS segment,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(19)], '"', '')) AS ship_date,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(20)], '"', '')) AS ship_mode,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(21)], '"', '')) AS shipping_cost,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(22)], '"', '')) AS state,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(23)], '"', '')) AS sub_category,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(24)], '"', '')) AS year,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(25)], '"', '')) AS market2,
  TRIM(REPLACE(SPLIT(string_field_0, '\t')[safe_offset(26)], '"', '')) AS weeknum
FROM
  `sapient-office-471119-g4.superstore_data.table1`
WHERE
  string_field_0 != 'Category	City	Country	Customer ID	Customer Name	Discount	Market	记录数	Order Date	Order ID	Order Priority	Product ID	Product Name	Profit	Quantity	Region	Row ID	Sales	Segment	Ship Date	Ship Mode	Shipping Cost	State	Sub-Category	Year	Market2	weeknum'; -- Filter out the header row

**Reasoning**:
The SQL query has been generated, excluding the problematic column. Now, execute this query in BigQuery to recreate the view and then query the new view to verify that the data is correctly parsed into separate columns.

In [20]:
# Execute the CREATE VIEW SQL query
try:
    query_job = client.query(create_view_sql)  # API request
    query_job.result()  # Waits for the query to finish
    print(f"View '{new_view_id}' created/replaced successfully in dataset '{dataset_id}'.")
except Exception as e:
    print(f"An error occurred while creating the view: {e}")

# Now, let's print 10 rows from the newly created view to verify
print(f"\n--- First 10 rows from the new view '{new_view_id}' ---")
try:
    # Construct a SQL query to select the first 10 rows from the new view
    preview_query = f"""
    SELECT *
    FROM `{project_id}.{dataset_id}.{new_view_id}`
    LIMIT 10;
    """

    # Execute the query
    preview_job = client.query(preview_query)
    preview_results_clean = preview_job.to_dataframe() # Use a different variable name

    # Display the results
    if not preview_results_clean.empty:
        display(preview_results_clean)
    else:
        print("The view is empty or the query returned no results.")

except Exception as e:
    print(f"An error occurred while fetching rows from the view: {e}")

View 'superstore_clean' created/replaced successfully in dataset 'superstore_data'.

--- First 10 rows from the new view 'superstore_clean' ---

,category,city,country,customer_id,customer_name,discount,market,order_date,order_id,order_priority,...,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category,year,market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0,US,2011-01-07 00:00:00.000,CA-2011-130813,High,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0,US,2011-01-21 00:00:00.000,CA-2011-148614,Medium,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0,US,2011-08-05 00:00:00.000,CA-2011-118962,Medium,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0,US,2011-08-05 00:00:00.000,CA-2011-118962,Medium,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0,US,2011-09-29 00:00:00.000,CA-2011-146969,High,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40
5,Office Supplies,Los Angeles,United States,JF-154904,Jeremy Farry,0,US,2011-10-19 00:00:00.000,CA-2011-117317,Critical,...,13,Consumer,2011-10-19 00:00:00.000,Same Day,2.39,California,Paper,2011,North America,43
6,Office Supplies,Los Angeles,United States,WB-218504,William Brown,0,US,2011-11-04 00:00:00.000,CA-2011-125829,Medium,...,19,Consumer,2011-11-11 00:00:00.000,Standard Class,1.15,California,Paper,2011,North America,45
7,Office Supplies,Los Angeles,United States,JA-159704,Joseph Airdo,0,US,2011-11-12 00:00:00.000,CA-2011-151295,High,...,12,Consumer,2011-11-16 00:00:00.000,Standard Class,0.92,California,Paper,2011,North America,46
8,Office Supplies,Los Angeles,United States,SP-209204,Susan Pistek,0,US,2011-11-22 00:00:00.000,CA-2011-135090,High,...,54,Consumer,2011-11-26 00:00:00.000,Standard Class,6.98,California,Paper,2011,North America,48
9,Office Supplies,Los Angeles,United States,RL-196154,Rob Lucas,0,US,2011-12-05 00:00:00.000,CA-2011-133830,Medium,...,49,Consumer,2011-12-10 00:00:00.000,Standard Class,1.99,California,Paper,2011,North America,50

## Verify the view

### Subtask:
Verify the view by querying it to confirm that the data is now correctly displayed in separate columns with the cleaned names.

**Reasoning**:
Re-running the code in cell BDjVOddXjBvS will query the updated view and display the results, which will allow us to verify if the data is now correctly displayed in separate columns.

In [21]:
# This assumes your 'client' object from the previous cell is still active
# and correctly authenticated.

print("✅ Step 1: Defining the query string...")

# Updated to query the 'superstore_clean' view
query_string = f"""
SELECT
  order_id,
  customer_name,
  product_name,
  sales,
  profit
FROM
  `{project_id}.{dataset_id}.{new_view_id}` -- Using the clean view
LIMIT 10;
"""

print("✅ Step 2: Sending the query to BigQuery. This may take a moment...")

# Use a try-except block to catch potential errors
try:
    query_job = client.query(query_string)

    print("✅ Step 3: Waiting for query to complete and fetching results...")
    results_df = query_job.to_dataframe()

    print(f"✅ Step 4: Query finished. Found {len(results_df)} rows.")

    if results_df.empty:
        print("\n⚠️ The query ran successfully but returned an empty result. Please double-check that your 'superstore_clean' view exists and the original table has data.")
    else:
        print("\n--- Displaying Results ---")
        display(results_df)

except Exception as e:
    print(f"\n❌ An error occurred: {e}")

✅ Step 1: Defining the query string...
✅ Step 2: Sending the query to BigQuery. This may take a moment...
✅ Step 3: Waiting for query to complete and fetching results...
✅ Step 4: Query finished. Found 10 rows.

--- Displaying Results ---

,order_id,customer_name,product_name,sales,profit
0,CA-2011-130813,Lycoris Saunders,Xerox 225,19,9.3312
1,CA-2011-148614,Mark Van Huff,"Wirebound Service Call Books, 5 1/2 x 4",19,9.2928
2,CA-2011-118962,Chad Sievert,"Adams Phone Message Book, Professional, 400 Me...",21,9.8418
3,CA-2011-118962,Chad Sievert,Xerox 1913,111,53.2608
4,CA-2011-146969,Arthur Prichep,Xerox 223,6,3.1104
5,CA-2011-117317,Jeremy Farry,Spiral Phone Message Books with Labels by Adams,13,6.5856
6,CA-2011-125829,William Brown,Xerox 2000,19,9.3312
7,CA-2011-151295,Joseph Airdo,Xerox 1974,12,5.8604
8,CA-2011-135090,Susan Pistek,Xerox 1895,54,24.219
9,CA-2011-133830,Rob Lucas,Xerox 1933,49,23.0864

## Summary:

### Data Analysis Key Findings

*   The original data was stored in a single column named `string_field_0`.
*   The values within `string_field_0` were separated by a tab delimiter (`\t`).
*   The first row of the `string_field_0` column contained the headers for the data.
*   The view creation SQL was successfully modified to parse the tab-separated data from `string_field_0` into individual columns using `SPLIT` and `SAFE_OFFSET`.
*   A `WHERE` clause was added to the view definition to filter out the header row.
*   A problematic column named '记录数' in the header row caused a syntax error during the initial attempt to create the view and was subsequently excluded from the view definition.
*   Querying the newly created view demonstrated that the data was correctly separated into named columns (excluding the problematic one) and the header row was removed.

### Insights or Next Steps

*   Investigate the problematic character in the '记录数' column name to understand why it caused a syntax error in BigQuery SQL and potentially find a way to include or handle this column if necessary for future analysis.
*   Consider adding explicit casting of the parsed columns to appropriate data types (e.g., `CAST(SPLIT(...)[...] AS FLOAT64)`) within the view definition for better data integrity and performance in subsequent queries.